
@{
    ViewData["Title"] = "AccceptRating";
}

<h1>Thanks</h1>

<h3>Thanks for giving us feedback on this quiz.</h3>

<div>
    @Html.ActionLink("Return to Quizzes", "Quizzes", new { /* id=item.PrimaryKey */})
</div>

