@model MuzeQuiz.Web.ViewModels.QuizScore
@{
    ViewData["Title"] = "EndQuiz";
}

<h1>@Model.quiz.Name</h1>

<h2>Congratulations Your score is :</h2>

<h3>@ViewBag.score</h3>

<form asp-action="AddRating">
    <div class="form-group" style="display:none" hidden>
        <label asp-for="rating.QuizId" class="control-label"></label>
        <input asp-for="rating.QuizId" value="@Model.quiz.Id" class="form-control" />
        <span asp-validation-for="rating.QuizId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="rating.ratingNumber" class="control-label"></label>
        <div>
            <select asp-for="rating.ratingNumber" asp-items="Html.GetEnumSelectList<Rating.intRating>()">
                <option>-- difficulty --</option>

            </select>
        </div>
        <span asp-validation-for="rating.ratingNumber" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>

</form>



