@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3">Welcome To MuzeQuiz</h1>
    <p class="">This is a Quiz Webapp Made With Asp.net. And has an API if anyone wants to acces the data
        Before you discover what this has to offer, I suggest making an <a asp-area="Identity" asp-page="/Account/Register">account</a>.
        That way you can fully discover the page and play its Quizes.
    </p>
</div>
